<nav>
    <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Netflix"></a>

    <ul>
        <!--Fix if else signed in -->
        <li><a href="/">Home</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('add_movie') }}">Add Movie</a></li>
            <li><a href="{{ url_for('movies') }}">Movies</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
</nav>