{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_navbar.html' %}

    <div class="container">
    <div class="input-form">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert {{ category }}">
                <span class="closebtn" onclick="this.parentElement.style.opacity='0'">&times;</span>
                {{ message }}
                </div>
            {% endfor %}
            <h1 class="mb-3">Add movie</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token() }}

                <div class="mb-3">
                    {{ form.title(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.date_released(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.img_url(class='form-control') }}
                </div>
                <div class="mb-3">
                    {% if form.img_url.errors %}
                    <ul class="errors">
                        {%  for error in form.img_url.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.submit(class='btn btn-rounded') }}
                </div>
            </form>

        </div>
    </div>
{% endblock %}

