{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_navbar.html' %}

    <div class="container">
        <h1>Movies</h1>
        <div class="card-grid">
            {% for movie in movies %}
                <div class="card">
                    <img src="/static/images/{{ movie.img_url }}" alt="{{ movie.title }}">
                <div class="container">
                    <h4>{{ movie.title }}</h4>
                    <p>{{ movie.date_released }}</p>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}